.schoolPhotos{
    display: flex;
    width: 100vp;
    overflow: scroll;
   
   
    
    img{
        width: 10rem;
        object-fit:cover;
        padding: 4px;
        border-radius: 10px;
        
    }
}